/** 
* Code Ink - Style
* Copyright Dedaldino Daniel
* github: github.com/dedaldino4dev
*/

/*================/ Import fonts ===============*/
@import url("https://fonts.googleapis.com/css?family=Roboto:100, 100i, 300, 300i,400,400i,500,500i,700,700i,900,900i");

/*=============================================================*/

/*======================/ Import files /=======================*/
@import url(font-awesome.min.css);
@import url(carousel-ticker.css);
@import url(owl.carousel.min.css);
@import url(gridStyle.css);

/*============================================================= */

/*====================/ Skeletion Style /=======================*/
body {
    font-family: Roboto;
    margin: 0;
    background: #343233;
}

.container {
    max-width: 1200px;
    text-align: center;
    margin: 0 auto;
    padding: 0 3rem;
}

@media screen and (max-width: 580px) {

    .container {
        padding: 0 2rem;
    }
}

h1,
h2,
h3 {
    font-weight: 300;
    margin-top: 0px;
    margin-bottom: 0px;
}

h1 {
    font-size: 54px;
    color: #2ecc71; /* Color primary */
}

h2 {
    font-size: 42px;
    color: #809789; /* Color Second */
}
h3{
    font-size: 28px;
    color: #809789;
}

h4 {
    font-size: 20px;
    color: #809789;
    font-weight: 400;
    margin-bottom: 0;
}

p {
    margin: 20px 0;
    color: #809789;
    line-height: 24px;
}

a{
    text-decoration: none;
}

img {
    margin: 20px 0;
    width: 100%;
}

select option{
    font-weight: 500;
    text-transform: uppercase;
}


button {
    outline: none;
    border: none;
    margin: 18px 0;
    padding: 20px 40px;
    background: #2ecc71;
    font-family: Roboto;
    color: #282627; /* Third color */
    letter-spacing: 2px;
    font-weight: 800;
    text-transform: uppercase;
    cursor: pointer;
}

#id-user {
    visibility: hidden;
}

i {
    font-size: 42px;
    letter-spacing: 14px;
}

hr{
    color: #2ecc71;
    width: 50%;

}

label {
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    text-align: left;
    margin: 0 30px;
    line-height: 30px;
    color: #809789;
}

.blue-color {
    background: #5277AB;
}

.danger-color {
    background: #EF5444;
}

/*================================================*/

/* ============/ fixed navegation /============= */

nav {
    height: 60px;
    width: 100%;
    background-color: #343233;
    position: fixed;
    z-index: 5;
}

nav ul {
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    float: left;
}



nav a {
    display: inline-block;
    width: 100px;
    font-weight: 400;
    text-align: center;
    text-decoration: none;
    padding: 20px 0;
    color: #809789;
    transition: 1s;
}

nav a:hover {
    color: #6C6C6C;
}

nav ul #btn-log {
    display: inline;
    float: right;
}

nav #btn-login {
    display: inline-block;
    width: 100px;
    font-weight: 400;
    text-align: center;
    text-decoration: none;
    padding: 10px 0;
    margin: 10px;
    color: #809789;
    transition: 1s;
    border: 1.5px solid #2ecc71;
   
}

nav #btn-login:hover { 
    background: #2ecc71; 
    color: #282627;
    font-weight: 500;
}

nav a#toggle-btn {
    display: none;
}

nav a span.badge{
    position: relative;
    margin-top: -30px;
    margin-left: -20px;
    font-size: 10px;
    padding: 2px;
    width: 20px;
    height: 20px;
    padding-top: 2px;
    color: #282627;
    font-weight: 600;
    background: #0eac51;
    border-radius: 20px;
}

nav a#toggle-user-btn {
    display: none;
}

nav ul #icon-cart-menu {
    display: inline;
    float: right;
}

@media screen and (max-width: 580px) {
    nav {
        height: auto;
        border-bottom: 0;
    }

    nav ul {
        display: none;
        height: auto;
    }

    nav li {
        width: 100%;
        float: left;
        position: relative;
    }

    nav a {
        text-align: left;
        width: 100%;
        text-indent: 25px;
        background: #282627;
        color: #809789;
    }

    nav a:hover {
        color: #6C6C6C;
    }

    nav #btn-login {
        display: none;
    }

    nav a#toggle-user-btn {
        display: inline-block;
    }

    nav a#toggle-btn:after {
        content: "|||";
        transform: rotate(-90deg);
        width: 40px;
        height: 40px;
        display: inline-block;
        position: absolute;
        right: 5px;
        top: 20px;
    }


    nav a#toggle-btn {
        display: block;
        background: #282627;
        color: #809789;
        width: 100%;
        position: relative;
    }

    .menu:before, .menu:after {
        content: "";
        display: table;
    }

    .menu:after {
        clear: both;
    }
    .menu {
        zoom: 1;
    }

 
}


@media screen and (max-width: 768px) {
    nav {
        height: auto;
        border-bottom: 0;
    }

    nav ul {
        display: none;
        height: auto;
    }

    nav li {
        width: 100%;
        float: left;
        position: relative;
    }

    

    nav a {
        text-align: left;
        width: 100%;
        text-indent: 25px;
        background: #282627;
        color: #809789;

    }

    nav a:hover {
        color: #6C6C6C;
    }

    nav #btn-login {
        text-align: center;
        width: 95%;
        text-indent: 25px;
        color: #809789;
        border: none;
        display: none;
    }

    nav #btn-login:hover {
        background: #2ecc71; 
        color: #282627;
    }

    nav a#toggle-user-btn {
        display: inline-block;
    }

    nav a#toggle-btn:after {
        content: "|||";
        transform: rotate(-90deg);
        width: 40px;
        height: 40px;
        display: inline-block;
        position: absolute;
        right: 5px;
        top: 20px;
    }

    nav a#toggle-btn {
        display: block;
        background: #282627;
        color: #809789;
        width: 100%;
        position: relative;
    }

    .menu:before, .menu:after {
        content: "";
        display: table;
    }

    .menu:after {
        clear: both;
    }
    .menu {
        zoom: 1;
    }
}


/*==============================================*/

/*===========/ landing-page content /=========== */
.section-hero {

    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow-y: hidden;
}

.section-hero .container {
    margin-top: 34vh;
}

.section-hero h2 {
    color: #809789;
}

@media screen and (max-width: 580px) {
    .section-hero h2 {
        font-size: 24px;
    }

    .section-hero p {
        display: none;
    }
}

/*===================================== */
/*=============/ overview /===========*/

#overview {
    background: #282627;
    padding: 8rem 0;
}

.overview-content {
    display: grid;
    grid-gap: 80px;
    grid-template-columns: repeat(2, 1fr);
    text-align: left;
}

@media screen and (max-width: 580px) {
    
    .overview-content {
        display: grid;
        grid-gap: 20px;
        grid-template-columns: repeat(1, 1fr);
        text-align: left;
    }
}

/*===============================================*/

/*=============/ product-single /==============*/
.fields-amount {
    width: 10%;
    margin: 2em 0;
    background: none;
    border: 1px solid #809789;
    padding: 20px;
    font-family: Roboto;
    font-weight: 400;
    font-size: 14px;
    color: #fff;
}
.fields-amount:focus {
    border: none;
    outline: none;
    border: 2px solid #809789;
}

.fields-amount::placeholder {
    font-weight: 400;
    font-size: 14px;
    color: #fff;
}

/*===========================================================*/
/* ===================/ Search Product /================== */
.search-content {
    display: grid;
    grid-gap: 80px;
    grid-template-columns: repeat(2, 1fr);
    text-align: left;
}

@media screen and (max-width: 580px) {
    
    .search-content {
        display: flex;
        grid-gap: 20px;
        grid-template-columns: repeat(1, 1fr);
        text-align: left;
        flex-direction: column-reverse;
        
    }
}

@media screen and (max-width: 768px) {
    
    .search-content {
        display: flex;
        grid-gap: 20px;
        grid-template-columns: repeat(1, 1fr);
        text-align: left;
        flex-direction: column-reverse;
        
    }
}

/*==================================================*/
/*==================/ Cart section  /========================*/
#cart-section {
    background: #282627;
    padding: 8rem 0;
}

.cart-content {
    display: grid;
    grid-gap: 80px;
    grid-template-columns: repeat(2, 1fr);
    text-align: left;
}

@media screen and (max-width: 580px) {
    
    .cart-content {
        display: grid;
        grid-gap: 20px;
        grid-template-columns: repeat(1, 1fr);
        text-align: left;
    }
}
.table-main table thead{
    background: #2ecc71;
    color: #282627;
}

.table-main .table thead th{
    font-size: 18px;
}
.table-main table td.thumbnail-img{
    width: 120px;
}
.table-main table td{
    vertical-align: middle;
    font-size: 16px;
    text-align: center;
}



.quantity-box input{
    width: 60px;
    border: 1px solid #2ecc71;
    text-align: center;
    background: none;
    color: #fff;
    font-weight: 400;
    font-family: Roboto;
}
.quantity-box input:focus{
    border: none;
    outline: none;
    border: 2px solid #2ecc71;
}
.name-pr a{
    font-weight: 700;
    font-size: 18px;
    color: #fff;
}
.price-pr p, .total-pr p{
    color: #fff;
    font-weight: 600;
}
.remove-pr a i{
    text-align: right;
    color: #fff;

}
.table-responsive .table td, .table-responsive .table th {
    vertical-align: middle;
    white-space: nowrap;
}
.line-simple {
    margin-top:.5rem;
    width: 100%;
}
#fields-coupon {
    width: 50%;
    margin: 2em 0;
    background: none;
    border: 1px solid #809789;
    padding: 20px;
    font-family: Roboto;
    font-weight: 400;
    font-size: 14px;
    color: #fff;
}
#fields-coupon:focus {
    border: none;
    outline: none;
    border: 2px solid #809789;
}

#fields-coupon::placeholder {
    font-weight: 400;
    font-size: 14px;
    color: #fff;
}
#btn-coupon{
    outline: none;
    border: none;
    margin: 18px 0;
    padding: 20px 40px;
    background: #2ecc71;
    font-family: Roboto;
    color: #282627; /* Third color */
    letter-spacing: 2px;
    font-weight: 800;
    text-transform: uppercase;
    cursor: pointer;
}

#btn-delete{
    outline: none;
    border: none;
    margin: 18px 0;
    padding: 20px 40px;
    background: #2ecc71;
    font-family: Roboto;
    color: #282627; /* Third color */
    letter-spacing: 2px;
    font-weight: 800;
    text-transform: uppercase;
    cursor: pointer;
}

/*================================================= */
/*=============/ Profile section /================ */
#profile-section {
    background: #282627;
    padding: 8rem 0;
}

.profile-content {
    display: grid;
    grid-gap: 80px;
    grid-template-columns: repeat(2, 1fr);
    text-align: left;
}

@media screen and (max-width: 580px) {
    
    .profile-content {
        display: grid;
        grid-gap: 20px;
        grid-template-columns: repeat(1, 1fr);
        text-align: left;
    }
   
}

.profile-content .fields {
    width: 40%;
    margin: 2em 0;
    background: none;
    border: 1px solid #809789;
    padding: 20px;
    font-family: Roboto;
    font-weight: 400;
    font-size: 14px;
    color: #fff;
}
.profile-content .fields {
    width: 40%;
    margin: 2em 0;
    background: none;
    border: 1px solid #809789;
    padding: 20px;
    font-family: Roboto;
    font-weight: 400;
    font-size: 14px;
    color: #fff;
}
.profile-content textarea {
    width: 80%;
    margin: 2em 0;
    background: none;
    border: 1px solid #809789;
    padding: 20px;
    font-family: Roboto;
    font-weight: 400;
    font-size: 14px;
    color: #fff;
}
.profile-content .fields, .profile-content textarea:focus {
    border: none;
    outline: none;
    border: 2px solid #809789;
}

.profile-content .fields::placeholder {
    font-weight: 400;
    font-size: 14px;
    color: #fff;
}

.card-profile {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #ffffff;
    background-clip: border-box;
    border: 0.0625rem solid rgba(34, 42, 66, 0.05);
    border-radius: 0.2857rem;
  }

  .card-profile .avatar {
    width: 30px;
    height: 30px;
    overflow: hidden;
    border-radius: 50%;
    margin-bottom: 15px;
  }
  
  .card-user {
    overflow: hidden;
  }
  
  .card-user .image {
    height: 120px;
  }
  
  .card-user .author {
    text-align: center;
    text-transform: none;
    margin-top: 25px;
  }
  
  .card-user .author a+p.description-profile {
    margin-top: -7px;
  }
  
  .card-user .author .block {
    position: absolute;
    height: 100px;
    width: 250px;
  }
  
  .card-user .author .block.block-one {
    background: rgba(18, 224, 97, 0.6);
    background: -webkit-linear-gradient(to right, rgba(18, 224, 97, 0.6) 0%, rgba(18, 224, 97, 0.6) 100%);
    background: -o-linear-gradient(to right, rgba(18, 224, 97, 0.6) 0%, rgba(18, 224, 97, 0.6) 100%);
    background: -moz-linear-gradient(to right, rgba(18, 224, 97, 0.6) 0%, rgba(18, 224, 97, 0.6) 100%);
    background: linear-gradient(to right, rgba(18, 224, 97, 0.6) 0%, rgba(18, 224, 97, 0.6) 100%);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=10);
    -webkit-transform: rotate(150deg);
    -moz-transform: rotate(150deg);
    -ms-transform: rotate(150deg);
    -o-transform: rotate(150deg);
    transform: rotate(150deg);
    margin-top: -90px;
    margin-left: -50px;
  }
  
  .card-user .author .block.block-two {
    background: rgba(18, 224, 97, 0.6);
    background: -webkit-linear-gradient(to right, rgba(18, 224, 97, 0.6) 0%, rgba(18, 224, 97, 0) 100%);
    background: -o-linear-gradient(to right, rgba(18, 224, 97, 0.6) 0%, rgba(18, 224, 97, 0) 100%);
    background: -moz-linear-gradient(to right, rgba(18, 224, 97, 0.6) 0%, rgba(18, 224, 97, 0) 100%);
    background: linear-gradient(to right, rgba(18, 224, 97, 0.6) 0%, rgba(18, 224, 97, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=10);
    -webkit-transform: rotate(30deg);
    -moz-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    -o-transform: rotate(30deg);
    transform: rotate(30deg);
    margin-top: -40px;
    margin-left: -100px;
  }
  
  .card-user .author .block.block-three {
    background: rgba(18, 224, 97, 0.6);
    background: -webkit-linear-gradient(to right, rgba(18, 224, 97, 0.6) 0%, rgba(18, 224, 97, 0) 100%);
    background: -o-linear-gradient(to right, rgba(18, 224, 97, 0.6) 0%, rgba(18, 224, 97, 0) 100%);
    background: -moz-linear-gradient(to right, rgba(18, 224, 97, 0.6) 0%, rgba(18, 224, 97, 0) 100%);
    background: linear-gradient(to right, rgba(18, 224, 97, 0.6) 0%, rgba(18, 224, 97, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=10);
    -webkit-transform: rotate(170deg);
    -moz-transform: rotate(170deg);
    -ms-transform: rotate(170deg);
    -o-transform: rotate(170deg);
    transform: rotate(170deg);
    margin-top: -70px;
    right: -45px;
  }
  
  .card-user .author .block.block-four {
    background: rgba(18, 224, 97, 0.6);
    background: -webkit-linear-gradient(to right, rgba(18, 224, 97, 0.6) 0%, rgba(18, 224, 97, 0) 100%);
    background: -o-linear-gradient(to right, rgba(18, 224, 97, 0.6) 0%, rgba(18, 224, 97, 0) 100%);
    background: -moz-linear-gradient(to right, rgba(18, 224, 97, 0.6) 0%, rgba(18, 224, 97, 0) 100%);
    background: linear-gradient(to right, rgba(18, 224, 97, 0.6) 0%, rgba(18, 224, 97, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=10);
    -webkit-transform: rotate(150deg);
    -moz-transform: rotate(150deg);
    -ms-transform: rotate(150deg);
    -o-transform: rotate(150deg);
    transform: rotate(150deg);
    margin-top: -25px;
    right: -45px;
  }
  
  .card-user .avatar {
    width: 124px;
    height: 124px;
    border: 5px solid #2ecc71;
    border-bottom-color: transparent;
    background-color: transparent;
    position: relative;
  }
  
  .card-user .card-body-profile {
    min-height: 240px;
  }
  
  .card-user hr {
    margin: 5px 15px;
  }

  .card-user .button-container {
    margin-bottom: 6px;
    text-align: center;
  }
  
  .card-description-profile {
    margin-top: 20px;
    padding: 20px;
  }
  
  .description-profile,
.card-description-profile,
.footer-big p,
.card-profile .footer .stats {
  color: #9A9A9A;
  font-weight: 300;
}

.card-user .title {
    color: #2ecc71;
    font-size: 14px;
    font-weight: 700;
}

/*================================================= */

/*==============/ services section /============== */
#services {
    background: #282627;
    padding: 8em 0; 
}

.services-content {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    text-align: left;
}

@media screen and (max-width: 580px) {
    .services-content {
        display: grid;
        grid-gap: 20px;
        grid-template-columns: repeat(1, 1fr);
        text-align: left;

    }
    
}

@media screen and (max-width: 768px) {
    .services-content {
        display: grid;
        grid-gap: 20px;
        grid-template-columns: repeat(1, 1fr);
        text-align: left;

    }
    
}

/* @media screen and (min-width: 769px) {
    .services-content {
        display: grid;
        grid-gap: 20px;
        grid-template-columns: repeat(2, 1fr);
        text-align: left;

    }
    
} */

.services-content .services-item {
    width: 320px;
    height: 320px;
    margin: 20px;
    border: 1px solid #2ecc71;
    text-align: center;
}

.services-item h2 {
    color: #2ecc71;
    margin: 10px 0;
}

.services-item p {
    margin: 30px;
}
/*============================================== */
/*===================/ start section /===========================*/
#start{
    padding: 8rem 0;
}
#start h2 {
    text-transform: uppercase;
    font-weight: 800;
    font-size: 14px;
    letter-spacing: 12px;
    margin-bottom: 2em;
}



/*=================================================== */
/*=============/ subscribe section /==================*/
#subscribe {
    background: #343233;
    padding: 8rem 0;
}

#subscribe h2 {
    color: #809789;
}

#subscribe input {
    width: 80%;
    margin: 2em 0;
    background: none;
    border: 1px solid #809789;
    padding: 20px;
    font-family: Roboto;
    font-weight: 400;
    color: #fff;
}

#subscribe input:focus {
    border: none;
    outline: none;
    border: 2px solid #809789;
}

/*=================================================*/
/*==============/ contact section /==============*/
#contact {
    background: #282627;
    padding: 8em 0;
}

#contact h2 {
    color: #809789;
}

.contact-content {
    display: grid;
    grid-gap: 80px;
    grid-template-columns: repeat(2, 1fr);
    text-align: left;
}

@media screen and (max-width: 580px) {
    
    .contact-content {
        display: grid;
        grid-gap: 20px;
        grid-template-columns: repeat(1, 1fr);
        text-align: left;
    }
}
#contact input {
    width: 80%;
    margin: 2em 0;
    background: none;
    border: 1px solid #809789;
    padding: 20px;
    font-family: Roboto;
    font-weight: 400;
    color: #fff;
}

#contact textarea {
    width: 80%;
    margin: 2em 0;
    background: none;
    border: 1px solid #809789;
    padding: 20px;
    font-family: Roboto;
    font-weight: 400;
    color: #fff;
}

#contact .contact-icon {
    list-style: none;
}
#contact .contact-icon li a {
    text-decoration: none;
    color: #809789;
}

#contact .contact-icon li {
    float: left;
    margin: 2px;
}

#contact .contact-icon li a:hover {
    color: #2ecc71;
}

#contact input:focus {
    border: none;
    outline: none;
    border: 2px solid #809789;
}

input::placeholder {
    color: #809789;
    text-transform: uppercase;
    font-weight: 400;
}
/*======================================================*/
/*==============/ contact-form section /==============*/
#contact-form {
    background: #282627;
    padding: 8em 0;
}

#contact-form h2 {
    color: #809789;
}

.form-content {
    display: grid;
    grid-gap: 80px;
    grid-template-columns: repeat(2, 1fr);
    text-align: left;
}

#contact-form .fields {
    width: 40%;
    margin: 2em 0;
    background: none;
    border: 1px solid #809789;
    padding: 20px;
    font-family: Roboto;
    font-weight: 200;
    color: #fff;
}

.fields-btn {
    outline: none;
    border: none;
    margin: 18px 0;
    padding: 20px 40px;
    background: #2ecc71;
    font-family: Roboto;
    color: #282627; /* Third color */
    letter-spacing: 2px;
    font-weight: 800;
    text-transform: uppercase;
    cursor: pointer;
}

#contact-form .fields-btn {
    outline: none;
    border: none;
    margin: 18px 0;
    padding: 20px 40px;
    background: #2ecc71;
    font-family: Roboto;
    color: #282627; 
    letter-spacing: 2px;
    font-weight: 800;
    text-transform: uppercase;
    cursor: pointer;
}

#contact-form .fields-btn-primary {
    outline: none;
    border: none;
    margin: 18px 0;
    padding: 20px 40px;
    background: #5277AB;
    font-family: Roboto;
    color: #fff; /* Third color */
    letter-spacing: 2px;
    font-weight: 800;
    text-transform: uppercase;
    cursor: pointer;
}

#contact-form .fields-btn-reset {
    outline: none;
    border: none;
    margin: 18px 0;
    padding: 20px 40px;
    background: #EF5444;
    font-family: Roboto;
    color: #fff; /* Third color */
    letter-spacing: 2px;
    font-weight: 800;
    text-transform: uppercase;
    cursor: pointer;
    
}


#contact-form .fields:focus {
    border: none;
    outline: none;
    border: 2px solid #809789;
}

#contact-form .fields::placeholder {
    color: #809789;
    text-transform: uppercase;
    font-weight: 200;
}



@media screen and (max-width: 580px) {
    
    .form-content {
        display: grid;
        grid-gap: 20px;
        grid-template-columns: repeat(1, 1fr);
        text-align: left;
    }

    #contact-form .fields {
        width: 80%;
        font-weight: 400;
    }
}

/*=======================================================*/

/*================/ instagram section  /=================*/

.instagram-box{
    padding: 70px 0px;
    background: url(../images/instagram-bg.jpg) no-repeat center center;
    background-size: auto auto;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
}
.instagram-box::before{
    background: rgba(0,0,0,0.9);
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    content: "" ;
    position: absolute;
    z-index: 0;
}
.main-instagram.owl-carousel .owl-nav button.owl-prev{
    background: #2b2a2a;
    position: absolute;
    z-index: 1;
    display: block;
    height: 100%;
    width: 50px;
    line-height: 0px;
    font-size: 24px;
    cursor: pointer;
    color: #ffffff;
    top: 0;
    padding: 0;
    margin-top: 0;
    opacity: 1;
    left: 0px;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.main-instagram.owl-carousel .owl-nav button.owl-next{
    background: #343233;
    position: absolute;
    z-index: 1;
    display: block;
    height: 100%;
    width: 50px;
    line-height: 0px;
    font-size: 24px;
    cursor: pointer;
    color: #ffffff;
    top: 0;
    padding: 0;
    margin-top: 0;
    opacity: 1;
    right: 0px;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.main-instagram.owl-carousel .owl-nav button.owl-next:hover, .main-instagram.owl-carousel .owl-nav button.owl-prev:hover{
    background: #0eac51;
}
.ins-inner-box{
    position: relative;
}
.hov-in{
    opacity: 0;
    background: rgba(40, 245, 68, 0.4);
    bottom: -100%;
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-transition: all 0.3s ease-out 0.5s;
    -moz-transition: all 0.3s ease-out 0.5s;
    -o-transition: all 0.3s ease-out 0.5s;
    -ms-transition: all 0.3s ease-out 0.5s;
    transition: all 0.3s ease-out 0.5s;
    text-align: center;
    display: table;
}
.hov-in a{
    display: table-cell;
    vertical-align: middle;
    height: 100%;
}
.hov-in i{
    color: #2ecc71;
    font-size: 48px;
    position: relative;
    z-index: 2;
}
.hov-in a i:hover{
    color: #ffffff;
}
.ins-inner-box:hover .hov-in{
    bottom: 0;
    opacity: 1;
}

/*======================================*/
/*=============/ Checkout Page /==========*/


.popup {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 100%;
    height: 100%;
    bottom: 0;
    right: 0;
    background-color: rgba(0,0,0,0.80);
    z-index: 2;
    visibility: hidden;
    opacity: 0;
    overflow: hidden;
    transition: 0.74s ease-in-out;
}

.popup-inner {
    position: relative;
    bottom: -100vw;
    right: -100vh;
    display: flex;
    align-items: center;
    max-width: 800px;
    max-height: 599px;
    width: 50%;
    height: 50%;
    background-color: white;
    transform: rotate(32deg);
    transition: 0.74s ease-in-out;
} 
.popup-form {
    position: relative;
    align-items: center;
    max-width: 800px;
    max-height: 599px;
    width: 100%;
    height: 80%;
}
.popup-form input{
    position: fixed;
}

.popup-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 4rem;
}

.popup-text h1 {
    font-size: 2rem;
    font-weight: 599;
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-transform: uppercase;
    color: #0a0a0a;

}

.popup-text p {
    font-size: 0.875rem;
    color: black;
    line-height: 1.5;
}

.popup:target{
    visibility: visible;
    opacity: 1;
}

.popup:target .popup-inner{
    bottom: 0;
    right: 0;
    transform: rotate(0);
}

.popup:target .popup-photo img{
    padding: -40px;

}

.popup-close{
    position: absolute;
    right: -1rem;
    top: -1rem;
    width: 3rem;
    height: 3rem;
    font-size: 0.875rem;
    font-weight: 400;
    border-radius: 100%;
    background-color: #0a0a0a;
    z-index: 4;
    color: white;
    line-height: 3rem;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
}

.payment-icon {
    display: inline-block;
    padding: 10px 40px;
}
.payment-icon ul {
    list-style: none;
    
}
.payment-icon ul li {
    width: 20%;
    float: left;
}

.payment-icon .img-fluid{
    max-width:100%;
    height:100%;
}

.popup-form button {
    outline: none;
    border: none;
    margin: 18px 0;
    padding: 15px 30px;
    background: #2ecc71;
    font-family: Roboto;
    color: #282627; /* Third color */
    letter-spacing: 2px;
    font-weight: 800;
    text-transform: uppercase;
    cursor: pointer;
}

@media screen and (max-width: 580px) {
    
    .popup-inner {
        width: 80%;
        height: 80%;
    }
}

@media screen and (min-width: 581px) {
    
    .popup-inner {
        width: 80%;
        height: 80%;
    }
}

/*===================================== */
/*=============/ footer /================*/
footer {
    width: 100%;
    margin: 0 auto;
    position: relative;
    text-align: center;
    padding: 1em 0;
    background: #282627;
}

.footer-content {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(2, 1fr); 
    color: #809789;
}

.footer-content ul {
    list-style: none;
}
.footer-content ul li {
    display: inline;
    text-decoration: none;
    right: 0;
}

.footer-content ul li a {
    color: #809789;
}

.footer-content ul li a:hover {
    color: #2ecc71;
}

.footer-icon {
    color: #2ecc71; 
    text-decoration: none;
}
/*==================================================*/
/*=================/ BackToTopButton /==============*/
.back-to-top {
    position: fixed;
    display: none;
    background: #2ecc71;
    color: #fff;
    width: 44px;
    height: 44px;
    text-align: center;
    line-height: 1;
    font-size: 16px;
    border-radius: 50%;
    right: 15px;
    bottom: 15px;
    transition: background 0.5s;
    z-index: 11;
  }
  
  .back-to-top i {
    padding-top: 12px;
    color: #fff;
  }
  
  @media (max-width: 768px) {
    .back-to-top {
      bottom: 15px;
    }
  }
  
  
  
